table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
}

#edit_overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#edit_modal{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    background-color: white;
}

#add_overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#add_modal{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    background-color: white;
}