table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

#action_modal {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

/* List itself `*/
.autocomplete_list {
    position: absolute;
    top: 100%; /* right below the input */
    left: 0;
    width: 100%;
    max-height: 200px; /* makes it scrollable if too many items */
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Each result item */
.autocomplete_list li {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Image in each result (poster) */
.autocomplete_list li img {
    width: 40px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
    flex-shrink: 0;
}

/* Hover effect */
.autocomplete_list li:hover {
    background-color: #f0f0f0;
}

.autocomplete_list li.active {
    background-color: #e0e0e0;
}

.action_images {
    border: none;
    cursor: pointer;
    appearance: none;
    width: 15px;
    height: 15px;
}

.delete_button, .edit_button, .more_button, .add_button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 30px;
    height: 20px;
    background-color: #dedede;
    transition: background-color 0.2s;
}

.delete_button:hover, .edit_button:hover, .more_button:hover, .add_button:hover{
    background-color: #c2c2c2;
}


/* More Info Overlay */

.info_modal {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #f2f1e3;
    width: 1000px;
}

#more_info_modal_left, #more_info_modal_right {
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.more_button:focus {
    outline: none;
}

.close_button {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 15px;
    width: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

.close_image {
    width: 20px;
    height: 20px;
    cursor: pointer;
}