{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
    <h1> NextWatch </h1>

    <h2> Movies </h2>
        <table>
            <tr> <th>Title</th> <th>Actions</th> </tr>

            {% for item in movie_list %}
            <tr>
                <td>{{ item[1] }}</td>
                <td>
                    <form method="POST" action="{{ url_for('delete', id_num=item[0]) }}" style="display:inline">
                        <button type="submit" class="delete_button">
                            <img src="{{ url_for('static', filename='icons/deleteIcon.png') }}" class="action_images">
                        </button>
                    </form>

                    <button type="button" class="edit_button" data-id-num="{{ item[0] }}" data-type="movie" data-action-type="edit">
                        <img src="{{ url_for('static', filename='icons/editIcon.png') }}" class="action_images">
                    </button>

                    <button type="button" class="more_button" data-imdbid="{{ item[3] }}">
                        <img src="{{ url_for('static', filename='icons/moreIcon.png')}}" class="action_images">
                    </button>
                </td>
            </tr>
            {% endfor %}

            <tr> <td> <button type="button" class="add_button" data-type="movie" data-action-type="add">+</button> </td> </tr>
        </table>

    <h2> TV Shows </h2>
        <table>
            <tr> <th>Title</th> <th>Actions</th>  </tr>

            {% for item in tv_show_list %}
            <tr>
                <td>{{ item[1] }}</td>
                <td>
                    <form method="POST" action="{{ url_for('delete', id_num=item[0]) }}" style="display:inline">
                        <button type="submit" class="delete_button">
                            <img src="{{ url_for('static', filename='icons/deleteIcon.png') }}" class="action_images">
                        </button>
                    </form>

                    <button type="button" class="edit_button" data-id-num="{{ item[0] }}" data-type="tv_show">
                        <img src="{{ url_for('static', filename='icons/editIcon.png') }}" class="action_images">
                    </button>

                    <button type="button" class="more_button" data-imdbid="{{ item[3] }}">
                        <img src="{{ url_for('static', filename='icons/moreIcon.png')}}" class="action_images">
                    </button>
                </td>
            </tr>
            {% endfor %}

            <tr> <td> <button type="button" class="add_button" data-type="tv_show">+</button> </td> </tr>
        </table>

    <h2> Anime </h2>
        <table>
            <tr> <th>Title</th> <th>Actions</th>  </tr>

            {% for item in anime_list %}
            <tr>
                <td>{{ item[1] }}</td>
                <td>
                    <form method="POST" action="{{ url_for('delete', id_num=item[0]) }}" style="display:inline">
                        <button type="submit" class="delete_button">
                            <img src="{{ url_for('static', filename='icons/deleteIcon.png') }}" class="action_images">
                        </button>
                    </form>

                    <button type="button" class="edit_button" data-id-num="{{ item[0] }}" data-type="anime">
                        <img src="{{ url_for('static', filename='icons/editIcon.png') }}" class="action_images">
                    </button>

                    <button type="button" class="more_button" data-imdbid="{{ item[3] }}">
                        <img src="{{ url_for('static', filename='icons/moreIcon.png')}}" class="action_images">
                    </button>
                </td>
            </tr>
            {% endfor %}

            <tr> <td> <button type="button" class="add_button" data-type="anime">+</button> </td> </tr>
        </table>

    <div id="action_overlay">
        <div id="action_modal" data-action-type="">
            <form id="actionForm" method="POST" autocomplete="off">
                <div class="autocomplete">
                    <label for="new_name">New Title: </label> <br>
                    <input id="new_name" type="text" name="title"> <br>
                    <ul id="action_autocomplete_list" class="autocomplete_list"></ul>
                </div>
                <button id="action_submit" type="submit">Save</button>
                <button id="action_cancel" type="button">Cancel</button>
            </form>
        </div>
    </div>

{% endblock %}
